@import "~font-awesome/css/font-awesome.min.css";

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.sidebar {
  width: 200px;
  background-color: #ffffff;
  color: #000000;
  border-right: 1px solid #ccc;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar li:hover {
  color:rgb(86, 89, 255);
}

.content {
  flex: 1;
  display: flex;
  padding: 20px;
  padding-top: 0px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  width: full;
  border-bottom: 1px solid #ffeeee;
}

.grid-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100;
}

.grid-item {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 12px;
  margin: 5px;
}

button{
  background-color: rgb(3, 52, 138);
  color:#ffffff;
  padding: 10px 24px;
  border-radius: 6px;
  border-width: 0px;
  /* max-width:100px; */
}

.quick-container {
  display: flex;
  justify-content: space-around;
}

.item {
  display: flex;
  align-items: center;
  margin: 10px;
  text-align: center;
}

span{
  font-size: small;
}
.form-group{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:12px;
}
.form-modal{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
input{
  padding:12px;
}
button:hover{
  background-color: rgb(47, 47, 185);
}
h4{
  margin:2px;
}
.progress-bar-container {
  width: 300px;
  background-color: #dddddd;
  max-height: 10px;
  border-radius: 20px;
}

.progress-bar {
  width: 50%;
  height: 10px;
  border-radius: 20px;
}
.grid-container2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30%;
}

.grid-item2 {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 12px;
  margin: 5px;
}